<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
      <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js" defer></script>

     <link rel="stylesheet" href="root.css">
     <link rel="stylesheet" href="main.css">
     <link rel="stylesheet" href="menu.css">

     <title>LAYOUT</title>
</head>
<body>
     <!--****************-NAVBAR**************** -->
     <input type="checkbox" class="ham-check">
     <div class="hamburger"><div></div></div>
     <nav>

          <ul>
               <li><i class="fa fa-home"></i>Home</li>
               <li><i class="fa fa-user"></i>Log In</li>
               <li><i class="fa fa-cogs"></i>Settings</li>
               <li><i class="fa fa-rocket"></i>About Us</li>
               <li><i class="fa fa-bug"></i>Bug Report</li>
          </ul>

     </nav>

     <!-- *****************CONTAINER**************** -->
     <div class="container">

          <div class="main">

               <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Type to search">
                    <div class="search-btn"><i class="fa fa-search"></i></div>
               </div>
               <!-- **************************************** -->



          </div>
          <footer class="footer"></footer>

     </div>
</body>
</html>
